<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
