{{>header}}
<div>
    <p>Enter a date and time (be sure to include AM/PM) below to find restaurants that are open at that time.</p>
    <form id="selection-form">
        <input type="date" id="date" />
        <input type="time" id="time" />
        <input type="submit" id="submit" value="Find Open Restaurants"/>
    </form>
    <div id="response"></div>
</div>
{{>footer}}
